<!-- <div class="container">
    <tm-list-persons></tm-list-persons>
</div> -->
<div class="container">
<nav class="navbar navbar-default" id="nav">
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="list"><h4>CONTACTS</h4> </a>
    </li>
    <li>
      <a routerLink="create"><h4>ADD</h4></a>
    </li>
    <li>
        <a [routerLink]="['/persons', 2]"><h4>DETAILS</h4></a>
      </li>
    <li>
        <a routerLink="animations"><h4>ANIMATIONS</h4> </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
</div>