<!-- <div class="container">
    <tm-list-users></tm-list-users>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <h2> <a class="navbar-brand" class="title" id="title" routerLink="/coins" >ARMCHAIR BITCOINIST</a></h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <div class="row">
     <div class="col">
        <ul class="navbar-nav mr-auto side left" id="left">
     
        <a class="nav-link"  routerLinkActive="active" routerLink="/coins"  >BITCOINS</a> 
       
      <a class="nav-link"  routerLink="/users" title="Registration Required">PORTFOLIOS</a>
        <a  class="nav-link" routerLinkActive="active" routerLink="/animations">
        ANIMATIONS 
        </a>
  
     
    </ul> 
     </div>
    <div class="col">
      <ul class="navbar-nav side" id="right">
     
      <!-- <a class="nav-link"  [routerLink]="['/users', 2]">DETAILS</a> -->
      <!-- <a routerLink="edit/0">EDIT</a> -->
      <a class="nav-link" *ngIf="!this.isLoggedIn" routerLink="/login" routerLinkActive="active">LOGIN</a>
      <a class="nav-link" *ngIf="!this.isLoggedIn" routerLink="/register" routerLinkActive="active">REGISTER</a>
      <a class="nav-link"   *ngIf="!this.isLoggedIn"  routerLink="/profile" 
      routerLinkActive="active" >PROFILE</a>
      <a class="nav-link" style="cursor:pointer" *ngIf="this.isLoggedIn"
        (click)="_authService.logoutUser()">LOGOUT</a>
    </ul>
    </div>
   </div>
    
  </div>
</nav>

<div class="container">
   <div *ngIf="showLoadingIndicator" class="spinner"></div>
  <router-outlet></router-outlet>
</div>

<!--  
<div class="container">
    <nav class="navbar navbar-default" id="nav">
        <ul class="nav navbar-nav">
            <li>
                <a routerLink="">
                    <h4>USERS</h4>
                </a>
            </li>
            <li>
                <a routerLink="edit/0">
                    <h4>REGISTER</h4>
                </a>
            </li>
            <li>
                <a [routerLink]="['/users', 2]">
                    <h4>DETAILS</h4>
                </a>
            </li>
            <li>
                <a routerLink="animations">
                    <h4>ANIMATIONS</h4>
                </a>
            </li>
            <li>
                <a routerLink="data">
                    <h4>DATA</h4>
                </a>
            </li>
        </ul>
    </nav>
    <div *ngIf="showLoadingIndicator" class="spinner"></div>
    <router-outlet></router-outlet>
</div> -->