:host {
    /* box-sizing: border-box; */
    display: none;
    /* position: fixed;
    right: 0;
    top: 0; */
    float:right;
    width: 500px;
    height: 100%;
    padding: 20px 20px;
    background: #ccc;
  }
  
  :host.is-open {
    display: block;
  }
  .sidebar {
      min-height:250px;
  }